<div class="container">
  <h1 class="title">Join Us!</h1>
  <form class="form" [formGroup]="registerForm" (ngSubmit)="registerUser()">
    <label for="email"> Email</label>
    <input type="text" formControlName="email" id="email"/>
    <label for="email"> Password</label>
    <input type="password" formControlName="password" id="password"/>

    <button
      class ="btn-primary register-btn"
      [disabled]="registerForm.invalid">
      Registrarme
    </button>
    <span *ngIf="!!error">{{error}}</span>
  </form>
</div>
