<div class = "login">
  <h1 class= "title">Login</h1>

  <form [formGroup]="loginForm" (ngSubmit)="goToLogin()">

    <div class = "containers">
      <label for="email"> Email</label>
      <input
        type="email"
        placeholder="email@example.com"
        id="email"
        formControlName="email" />
    </div>

    <div class = "containers">
      <label for="password"> Password</label>
      <input
        type="password"
        id="password" f
        formControlName="password"/>
    </div>

    <button
      class ="btn-primary login-btn"
      [disabled]="loginForm.invalid"> Enter</button>

    <!-- TODO: add formatting  -->
    {{ error }}
  </form>

</div>

<!-- <form [formGroup]="loginForm" (ngSubmit)="goToLogin()">
  <mat-form-field appearance="outline">
    <mat-label>Email</mat-label>
    <input
      matInput
      type="text"
      type="email"
      placeholder="email@example.com"
      id="email"
      formControlName="email" />
      <mat-error>{{getError(loginForm.get('email'))}}</mat-error>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Password</mat-label>
    <input
      matInput
      type="text"
      type="password"
      id="password"
      formControlName="password" />
    <mat-error>{{getError(loginForm.get('password'))}}</mat-error>
  </mat-form-field>

  <button>

  </button>

</form> -->
